<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./static/images/salta.svg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/index.css">
    <script src="./static/js/contacto.js"></script>
    <title>Acerca de Salta</title>
</head> 
<body>
    <nav class="nav-index">
        <div class="monedas">
            <p>Dolar Oficial: <span id="moneda1"></span></p>
            <p>Dola Blue: <span id="moneda2"></span></p>
        </div>
    </nav>
    <header>
        
        <div class="linkes">
            <img class='logo-image' src="./static/images/salta.svg" alt="icono de la provincia de salta">
            <a href="/">Home</a>
            <a href="acercade">Acerca de Salta</a>
            <a href="citytour">City Tour</a>
            <a href="paquetes">Paquetes</a>
            <a href="contacto">Contacto</a>
            <a href="crear">Crear</a>
            <a href="mostrar">Mostrar</a>
        </div>
    </header>
    <main class="main-acercade">
        <article>
            <h1 class="Titulo_art">Acerca de salta:</h1>
            <br>
            <div class="descripcion">
                <p>Antigua tierra de Incas, la ciudad de Salta, capital de la provincia homónima, fue fundada el 16 de abril de 1582 por Hernando de Lerma, gobernador de Tucumán. El territorio escogido se ubicaba en un extenso valle fértil del norte argentino, y de él provendría su traducción como “la linda”.
                Originariamente, esta localidad recibió el nombre de Muy Noble y Leal Ciudad de San Felipe de Lerma en el Valle de Salta. Pero, una vez muerto su fundador, la aversión que sentían hacia él los primeros pobladores, los llevó a rebautizarla como San Felipe de Salta, denominación que con el tiempo quedaría reducida a su última palabra.<br>
                El General Martín Miguel de Güemes, figura de la independencia argentina y gobernador de Salta, fue quien se arrogó, mediante sus pujantes acciones, el papel de héroe de esta ciudad ganándose un lugar en cada rincón cultural de la misma.
                </p>
                <br>
            </div>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <div>
                <h1 class="Titulo_art2">Geografía:</h1>
                <br>
                
            </div>
            <div class="contenido_art">
                <div class="contenido_img">
                    <img src="./static/images/geografia_img.jpg" alt="">
                </div>
                <div class="contenido_descrip">
                    <p>Extendida entre espectaculares paisajes montañosos, la Región Noroeste de Argentina se vale de sus magníficos contrastes físicos, su aspecto templado y su folklore para atraer al turismo y brindarle la satisfacción jamás imaginada. Rústica, tradicionalista, pero sumamente acondicionada para la recepción de visitantes, esta porción arrinconada de territorio seduce con la dulzura de su música, retrotrae en el tiempo, y asegura la comodidad y el disfrute con una excelente infraestructura de servicios.<br>Conformada por las provincias de Jujuy, Salta, La Rioja, Tucumán, Catamarca y Santiago del Estero. Ornamentada por cerros de variados e intensos colores; y respetuosa del pasado aborigen que ha dejado sus huellas y costumbres impregnadas en toda la extensión.<br>La Región Noroeste constituye un destino turístico ineludible si lo que se desea es interiorizarse de la historia argentina, su cultura y raíces.
                    </p>
                    
                </div>
            </div>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <div>
                <h1 class="Titulo_art">Conocé Salta:</h1>
                <br>
            </div>
            <div class="descripcion">
                <p>
                    La incomparable Quebrada de Humahuaca; el retador Tren a las Nubes; los célebres Valles Calchaquíes; la fascinante Cuesta del Portezuelo; constituyen los espacios más prestigiosos paisajísticamente. Pintorescos pueblitos, cuestas y quebradas, parques nacionales, fuentes termales, ruinas indígenas, aldeas aborígenes, festivales, paseos artesanales, entre otras alternativas de similar atractivo, integran la propuesta turística de la Región Noroeste, cuya variación de climas permite el desarrollo de las más diversas actividades.<br>
                    Su territorio posee una superficie de 155.488 kilómetros cuadrados (el 4,1% del total nacional) y abarca todo tipo de paisajes: desde la aridez del desierto puneño al oeste hasta el verde exuberante de la selva al este, pasando por Valles y Quebradas pronunciadas en el centro de la Provincia. El territorio de la provincia de Salta se encuentra dividido en 23 departamentos y el más extenso es el de Rivadavia, que cuenta con 25.740 km. 2 y el más pequeño es Cerrillos con 525 km.
                </p>
            </div>
            <br>
            <br>
        </article>
        <br>
        <br>
        <br>
        <br>
        <article>
            <div>
                <h1 class="Titulo_art2">Actividades en Salta:</h1>
            </div>
            <br>
            <br>
            <div class="contenido_art">
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/hotel colonial - centro.webp" alt="" class="actividad">
                        <p>Turismo Histórico-Cultural: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/termas.jpg" alt="" class="actividad">
                        <p>Turismo Termal: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>  
            </div>
            <br>
            <br>
            <div class="contenido_art">
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/pesca-deportiva.jpg" alt="" class="actividad">
                        <p>Pesca Deportiva: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/parapente.jpg" alt="" class="actividad">
                        <p>Parapente: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>  
            </div>
            <br>
            <br>
            <div class="contenido_art">
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/cabalgata.jpg" alt="" class="actividad">
                        <p>Cabalgatas: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/paisaje2.jpg" alt="" class="actividad">
                        <p>Avistaje de Flora y Fauna: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>  
            </div>
            <br>
            <br>
            <div class="contenido_art">
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/dique-campo-alegre.jpg" alt="" class="actividad">
                        <p>Deportes de Montaña y Actividades Náuticas: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>
                <div class="visitar">
                    <div class="contenido_img2">
                        <img src="./static/images/montanas-cafayate.jpg" alt="" class="actividad">
                        <p>Y mucho mas...: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia obcaecati aliquid sapiente eveniet voluptatum aspernatur itaque iusto deserunt harum fugit magni, consequuntur ipsam nam fugiat laborum dolore? A et tempore architecto tempora culpa facilis. Enim rem placeat saepe ratione impedit deserunt maxime aut consequatur cupiditate, hic id perspiciatis eaque obcaecati!</p>
                    </div>
                </div>  
            </div>
        </article>
        <br>
        <br>
        <br>
        <br>
    </main>
    <footer>
        <div class="renglon1">
            <p  style="color:white;">Conoce nuestra provincia, donde la historia y la tradición se unen para crear una experiencia única en el norte argentino.</p>
        </div>
        <div class="renglon2">
            <div class="enlaces">
                <a href="index.html">Home</a>
                <a href="acercade.html">Acerca de Salta</a>
                <a href="citytour.html">City Tour</a>
                <a href="paquetes.html">Paquetes</a>
                <a href="contacto.html">Contacto</a>
            </div>
            <div class="contacto">
                <div class="contacto1">
                    <img src="./static/images/icons8-email-50.png">
                    <p>San Martin N 250, <br>Salta - Capital</p>
                </div>
                <div class="contacto1">
                    <img src="./static/images/icons8-home-address-50.png">
                    <p>correo@electronico.com</p>
                </div>
            </div>
            <div class="iconos_redes">
                <a href=""><img src="./static/images/icono_facebook.png" alt=""></a>
                <a href=""><img src="./static/images/icono_twitter.png" alt=""></a>
                <a href=""><img src="./static/images/icono_youtube.png" alt=""></a>
                <a href=""><img src="./static/images/icono_instagram.png" alt=""></a>
            </div>
        </div>
    </footer>
</body>
</html>