<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./static/images/salta.svg" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/index.css">
    <script src="./static/js/contacto.js"></script>
    <title>Salta | Turismo</title>
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <nav class="nav-index">
            <div class="monedas">
                <p>Dolar Oficial: <span id="moneda1"></span></p>
                <p>Dola Blue: <span id="moneda2"></span></p>
            </div>
        </nav>
        <header>
            
            <div class="linkes">
                <img class='logo-image' src="./static/images/salta.svg" alt="icono de la provincia de salta">
                <a href="/">Home</a>
                <a href="acercade">Acerca de Salta</a>
                <a href="citytour">City Tour</a>
                <a href="paquetes">Paquetes</a>
                <a href="contacto">Contacto</a>
                <a href="crear">Crear</a>
                <a href="mostrar">Mostrar</a>
            </div>
        </header>
        <main>
            <main class="main_index">
                <article>
                    <div class="index_titulo">
                        <h1>Bienvenido a nuestro sitio</h1>
                    </div>
                    <div>
                        <h3>
                        <p>Te ofrecemos diferentes opciones para conocer salta y para que puedas llevarte las mejores vacaciones,recuerdos y experiencias</p>
                        <ul>
                            <li>Paquetes de viajes hasta el citytour</li>
                            <li>Los mejores recorridos y paradas turisticas</li>
                            <li>Cultura e historia</li>
                            <li>Maravillosos paisajes</li>
                            <li>Flora y fauna</li>
                            <li>Diversion</li>
                            <li>Aventuras y Amistades unicas</li>
                            
                        </ul>
                        </p>
                    </h3>
                    </div>
                </article>
                
            </main>
        </main>



        <footer>
            <div class="renglon1">
                <p  style="color:white;">Conoce nuestra provincia, donde la historia y la tradición se unen para crear una experiencia única en el norte argentino.</p>
            </div>
            <div class="renglon2">
                <div class="enlaces">
                    <a href="index.html">Home</a>
                    <a href="acercade.html">Acerca de Salta</a>
                    <a href="citytour.html">City Tour</a>
                    <a href="paquetes.html">Paquetes</a>
                    <a href="contacto.html">Contacto</a>
                </div>
                <div class="contacto">
                    <div class="contacto1">
                        <img src="./static/images/icons8-email-50.png">
                        <p>San Martin N 250, <br>Salta - Capital</p>
                    </div>
                    <div class="contacto1">
                        <img src="./static/images/icons8-home-address-50.png">
                        <p>correo@electronico.com</p>
                    </div>
                </div>
                <div class="iconos_redes">
                    <a href=""><img src="./static/images/icono_facebook.png" alt=""></a>
                    <a href=""><img src="./static/images/icono_twitter.png" alt=""></a>
                    <a href=""><img src="./static/images/icono_youtube.png" alt=""></a>
                    <a href=""><img src="./static/images/icono_instagram.png" alt=""></a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>